{% extends "base.html" %}

{% block title %}Set New Password{% endblock %}

{% block content %}
    <div class="hero-home">
        <div class="hero-text">
            <div class="p-5 rounded shadow" style="background: rgba(0,0,0,0.7);">
                <h2>Set New Password</h2>
                <form  method="post" name="password-reset-confirm">
                    {% csrf_token %}
                    <div class="mb-3" style="text-align: center; min-width: 375px;">
                    <div class="form-group w-75 mx-auto p-1" style="text-align: left;">
                        <label for="exampleInputPassword1">New Password</label>
                        <input type="password" name="new_password1" autocomplete="new-password" required="" class="form-control" placeholder="Password" autofocus="" aria-describedby="id_new_password1_helptext" id="id_new_password1">
                    </div>
                    <div class="form-group w-75 mx-auto p-1" style="text-align: left;">
                        <label for="exampleInputPassword1">Confirm New Password</label>
                        <input type="password" name="new_password2" autocomplete="new-password" required="" class="form-control" placeholder="Password" aria-describedby="id_new_password2_helptext" id="id_new_password2">
                    </div>

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="d-flex justify-content-around mx-auto p-1 mt-3" style="width: 85%;">
                        <input type="submit" class="btn btn-primary" value="Update Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
