{% extends "base.html" %}

{% block title %}Check your Emails{% endblock %}

{% block content %}
    <div class="hero-home">
        <div class="hero-text">
            <div class="p-5 rounded shadow" style="background: rgba(0,0,0,0.7); max-width: 700px;">
                <h2>Check your Emails</h2>
                <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don’t receive an email, please make sure you’ve entered the email address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
{% endblock %}
