{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="hero-home">
        <div class="hero-text py-5 h-100 overflow-auto">
            <div class="p-5 rounded shadow" style="background: rgba(0,0,0,0.7);">
                <h2>Sign Up</h2>
                <p>The Rules summarized:<br>
                <ul class="pb-2 px-5" style="text-align: left;">
                    <li class="p-1">You predict the results of the matches, the group winners, and the EURO 2024 Champion.
                    </li>
                <li class="p-1">Points are awarded based on <a class="link-light fst-italic" target="_blank" href="{% url 'rules' %}">"The Rules"-Page</a>.</li>
                    <li class="p-1">Everyone puts ￡5 in the pot, with 50% of the pot being donated to charity and 50% of the pot
                        being distributed among the Top 3 participants.
                    </li>
                </ul>
                </p>
                <form action="{% url 'sign-up' %}" method="post" name="sign-up">
                    {% csrf_token %}
                    <div class="mb-3" style="text-align: center;">
                    <div class="form-group w-75 mx-auto p-1" style="text-align: left;">
                        <label for="exampleInputEmail1">Email address</label>
                        {{ form.email }}
                        <small id="emailHelp" class="form-text text-light">Only @morganstanley.com email addresses
                            allowed.</small>
                    </div>
                        <div class="form-group w-75 mx-auto p-1" style="text-align: left;">
                        <label for="exampleInputEmail1">First name</label>
                            {{ form.first_name }}
                    </div>
                    <div class="form-group w-75 mx-auto p-1 mb-1" style="text-align: left;">
                        <label for="exampleInputEmail1">Last name</label>
                            {{ form.last_name }}
                    </div>
                        <div class="form-group w-75 mx-auto p-1 mb-2" style="text-align: left;">
                        <label for="exampleInputEmail1">Team</label>
                            {{ form.team }}
                    </div>
                    <div class="form-group w-75 mx-auto p-1" style="text-align: left;">
                        <label for="exampleInputPassword1">Password</label>
                         {{ form.password1 }}
                    </div>
                    <div class="form-group w-75 mx-auto p-1" style="text-align: left;">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        {{ form.password2 }}
                    </div>
                    </div>

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="d-flex justify-content-around w-75 mx-auto p-1">
                        <a class="btn btn-outline-primary" href="{% url 'log-in' %}">Already have an account? Log In</a>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </form>

            </div>
        </div>
    </div>





{% endblock %}
