<tr>
    <td class="wrapper">
        <p>Hi {first_name},</p>
        <p>Have you already placed your bets for today's matches? Don't forget to as they will be locked as soon as the match starts!</p>
        {table_today_matches}
        <br><br>
        <p>See how you're doing on the leaderboard, what others predicted for yesterday's matches, or change the upcoming predictions:</p>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
            <tbody>
            <tr>
                <td align="left">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="5px">
                        <tbody>
                        <tr>
                            <td><a href="{my_predictions_link}" target="_blank">My Predictions</a></td>
                            <td><a href="{leaderboard_link}" target="_blank">Leaderboard</a></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <p>Enjoy the EURO 2024 and if any troubles please reach out to the LNRiskSocial mailgroup.</p>
        <p>Good luck! Your London Risk Social Network.</p>
    </td>
</tr>
