<tr>
    <td class="wrapper">
        <p>Hi {first_name},</p>
        <p>Tomorrow the 2024 EURO begins, so don't forget to set your tournament and group winner predictions as you cannot change them after the first respective match kicks-off!</p>
        <p>You will still be able to change each match's score until each match starts.</p>
        <p>If you haven't done so far please transfer the participation fee of £5 to ????????????????????????.</p>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
            <tbody>
            <tr>
                <td align="left">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td><a href="{my_predictions_link}" target="_blank">Go to my predictions</a></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <p>Enjoy the EURO 2024 and if any troubles please reach out to the LNRiskSocial mailgroup.</p>
        <p>Good luck! Your London Risk Social Network.</p>
    </td>
</tr>
