{% extends "base.html" %}

{% block title %}Rules{% endblock %}

{% block content %}
    <div class="container marketing mt-5">

    <h1 class="text-center mb-5 mt-3">The Rules</h1>

        <hr class="featurette-divider my-4">

        <!-- Three columns of text below the carousel -->
        <div class="row mt-4 mb-2">
            <div class="col-lg-4">
                <img src="/static/1st-prize.png" width="120" height="120" class="align-bottom" alt="img">
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/static/2nd-place.png" width="100" height="100" class="align-bottom" alt="img">
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/static/3rd-place.png" width="90" height="90" class="align-bottom" alt="img">
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <h2 class="fw-normal">1st Place</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2 class="fw-normal">2nd Place</h2>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <h2 class="fw-normal">3rd Place</h2>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <p>The winner receives 60% of the players' pot.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <p>The second place receives 30% of the players' pot.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <p>The third place receives 10% of the players' pot.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <hr class="featurette-divider">


        <div class="row featurette">

            <div class="col-md-5 text-center m-auto">
                <h2 class="featurette-heading fw-normal lh-1">Your Stake <span
                        class="text-body-secondary">￡5</span></h2>
            </div>

            <div class="col-md-7">
                <p class="lead my-2">After signing-up you'll get instructions on how to transfer the ￡5 into the pot.</p>
                <p class="lead my-2">50% of the pot will be distributed among the Top 3 participants.</p>
                <p class="lead my-2">50% of the pot will be donated to a charity selected by the winner.</p>
            </div>

        </div>

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5" align="center">
                <img src="/static/pexels-mike-468229-1171084.jpeg" width="400" alt="img">
            </div>

            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Every <span
                        class="text-body-secondary">Match</span></h2>
                <p class="lead">Before every match put in how you expect every match ends. You can change your bet until match kick-off.</p>
                <p class="lead">The correct score gets you 5 points, the correct winner 3 points.</p>
            </div>

        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5" align="center">
                <img src="/static/pexels-kelly-1179532-2935982.jpg" width="400" alt="img">
            </div>

            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Winner of each <span
                        class="text-body-secondary">Group</span></h2>
                <p class="lead">Before the first group match begins put in who you'd expect to win each group. You cannot change your choice after the first match within that group began.</p>
                <p class="lead">Each correct group winner gets you 5 points.</p>
            </div>

        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5" align="center">
                <img src="/static/pokal_lahm_getty.jpg" width="400" alt="img">
            </div>

            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">The <span
                        class="text-body-secondary">Winners</span></h2>
                <p class="lead">Before the first match begins enter your tournment favourite. You cannot make changes once the first match began.</p>
                <p class="lead">The correct EURO Champion gets you 30 points, 2nd place 15 points, and 3rd place 10 points.</p>
            </div>

        </div>

        <hr class="featurette-divider mb-5">

        <!-- /END THE FEATURETTES -->

    </div>
{% endblock %}
